.comments_container {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 25px;
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.username {
  font-weight: bold;
}

.comment {
  overflow-wrap: anywhere;
}

.time {
  font-size: x-small;
}

.form {
  display: flex;
  width: 90%;
  margin: 10px;
}