.comments_container {
  width: 90%;
  padding: 10px;
  border-top: 1px solid black;
}

.username {
  font-weight: bold;
}

.comment {
  overflow-wrap: anywhere;
}

.time {
  font-size: x-small;
}

.form {
  display: flex;
  width: 90%;
  margin: 10px;
  border: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: lightblue;
}

.form:focus {
  outline: none;
}

.btn {
  align-self: center;
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  background-color: aquamarine;
}

.btn:active {
  transform: translateY(-1px);
}

.delete_comment {
  font-size: x-small;
  background-color: rgba(255, 0, 0, 0.5);
}

.delete_comment:hover {
  background-color: red;
  color: white;
}