.comments_container {
  width: 90%;
  padding: 10px;
  border-top: 1px solid black;
}

.username {
  font-weight: bold;
}

.comment {
  overflow-wrap: anywhere;
}

.time {
  font-size: x-small;
}

.form {
  display: flex;
  width: 90%;
  margin: 10px;
}