.icon {
  font-size: xx-large;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}

.x {
  color: white;
  border: 2px solid red;
  background-color: red;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}

.check {
  color: white;
  border: 2px solid green;
  background-color: green;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}

.maybe {
  color: white;
  border: 2px solid orange;
  background-color: orange;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}

.container {
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 80%;
}

.title {
  justify-content: center;
}

.btn {
  width: fit-content;
  align-self: center;
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 5px;
  font-weight: 500;
}

.accept {
  background-color: rgb(170, 255, 170);
}

.accept:hover {
  background-color: green;
  color: white;
  box-shadow: 0px 5px 10px green;
  transform: translateY(-3px);
}

.decline {
  background-color: rgb(255, 175, 175);
}

.decline:hover {
  background-color: red;
  color: white;
  box-shadow: 0px 5px 10px red;
  transform: translateY(-3px);
}

.maybe {
  background-color: rgb(255, 255, 185);
}

.maybe:hover {
  background-color: yellow;
  box-shadow: 0px 5px 10px yellow;
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}

.date {
  display: flex;
  justify-content: flex-end;
}

.invitees {
  border: 2px solid black;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.add {
  font-size: xx-large;
  color: blue;
  background-color: rgba(0, 221, 255, 0.350);
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3s;
}

.weather {
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
}