.container {
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 80%
}

.inputs {
  display: flex;
  flex-direction: column;
}

.invitees {
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
  text-align: center;
}

.map {
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
}

.add {
  font-size: xx-large;
  color: blue;
  background-color: rgba(0, 221, 255, 0.350);
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3s;
}

.add:hover {
  background-color: rgba(0, 221, 255, 0.800);
}

.btn {
  width: fit-content;
  align-self: center;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  background-color: #23acc4;
  box-shadow: 0px 15px 20px rgba(46, 134, 229, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}

.center {
  justify-content: center;
}