.container {
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  width: 80%
}

.inputs {
  display: flex;
  flex-direction: column;
}

.invitees {
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
  text-align: center;
}

.map {
  border: 2px solid black;
  border-radius: 25px;
  height: 200px;
}

.add {
  font-size: xx-large;
  color: blue;
  background-color: rgba(0, 202, 233, 0.546);
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
}