.btn {
  width: fit-content;
  align-self: center;
  padding: 1.3em 3em;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  background-color: #23acc4;
  box-shadow: 0px 15px 20px rgba(46, 134, 229, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}