.container {
  border: 1px solid aqua;
  border-right: 2px solid aqua;
  border-bottom: 2px solid aqua;
  border-top-left-radius: 25px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  color: aqua;
  font-family: 'Varela Round', sans-serif;
}

.container:hover {
  box-shadow: 0px 0px 15px aqua;
  transition: all 0.3s ease-in-out 0s;
}

.title {
  align-self: center;
}

.btn {
  max-width: fit-content;
  align-self: center;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 10px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #23acc4;
  box-shadow: 0px 15px 20px rgba(46, 134, 229, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}

.fit {
  max-width: fit-content;
  align-self: center;
}

.location {
  text-align: right;
  align-self: center;
}

.icon {
  font-size: xx-large;
  align-self: center;
  margin: 10px;
  cursor: pointer;
}

.icon:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease 0s;
}

.x {
  color: white;
  border: 2px solid red;
  background-color: red;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}

.check {
  color: white;
  border: 2px solid green;
  background-color: green;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}

.maybe {
  color: white;
  border: 2px solid orange;
  background-color: orange;
  height: fit-content;
  max-width: fit-content;
  border-radius: 30px;
}