.container {

  width: 80%;
  padding: 10px;
  margin: 10px;
}

.event_text {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.event_text:hover {
  color: black;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}