.container {
  width: 80%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 10px 15px aqua;
  margin-bottom: 40px;
}

.event_text {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
  color: aqua;
  margin: 10px;
}

.event_text:hover {
  color: aqua;
  font-weight: 500;
  text-shadow: 5px 5px 10px aqua;
  transition: all 0.3s ease 0s;
}