.title {
  font-size: 5rem;
}

.welcome {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, rgb(0, 100, 80), rgb(0, 180, 150));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.app_name {
  font-family: 'Dancing Script', cursive;
}