.upcoming-events {
  width: 80%;
  border-radius: 25px;
  margin: 2%;
  padding: 10px;
  border: 2px solid black;
}

.content {
  justify-content: space-evenly;
}

.title {
  text-decoration: underline;
}

.upcoming-events:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  transform: translate(-3px, -3px);
}

.title__event {
  max-inline-size: fit-content;
}

.weather {
  border: 2px solid black;
  border-radius: 25px;
  max-inline-size: fit-content;
  padding: 10px;
  height: 100px;
  height: fit-content;
}

.date__invitees {
  text-align: -webkit-center;
  align-self: center;
}

.date__invitees p {
  margin:0;
}

